.header-container-unscrolled {
  width: 100vw;
  z-index: 999;
  background-color: rgba(142, 47, 47, 0);
  padding: 20px 20px;
  position: sticky;

  top: 0;
  transition: all 0.3s ease-out;
}
.header-container-scrolled {
  width: 100vw;
  z-index: 999;
  background-color: rgb(41, 49, 53, 0.95);
  animation-duration: 0.1s;
  padding: 20px 20px;
  position: sticky;
  top: 0;
}

.header-link-container {
  display: flex;
  width: fit-content;
  flex-direction: row;
  float: right;
  margin: 0;
  padding: 0;
}
.header-link-container li {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}
.header-logo-container {
  width: fit-content;

  margin: 0;
  padding: 0;
}
.header-container-unscrolled li {
  color: white;
  list-style: none;
}
.header-container-unscrolled a {
  color: white;
  text-decoration: none;
}
.header-container-scrolled li {
  color: white;
  list-style: none;
}
.header-container-scrolled a {
  color: white;
  text-decoration: none;
}
.services {
  padding-bottom: 10px;
}
.header-dropdown ul {
  border-radius: 10px;
  margin-top: 10px;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  border: 2px solid black;
  position: absolute;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
.header-dropdown a {
  color: black;
}
