.footer-container {
  width: 100vw;
  background-color: brown;
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.footer-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-container li {
  list-style: none;
}
.footer-container a {
  color: white;
  text-decoration: none;
}
