.footer-container {
  width: 100vw;
  background-color: black;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-container li {
  list-style: none;
}
.footer-container a {
  color: white;
  text-decoration: none;
}
