.actualities-background-image-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
.actualities-header {
  z-index: 996;
  font-size: 25px;
  color: white;
  margin-top: 140px;
}
.actualities-container {
  position: relative;
  z-index: 996;
}
.actualities-card-container {
  z-index: 996;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}
.actualities-card {
  z-index: 996;
  transition: all 0.4s ease-out;
  animation-duration: 1.5s;
  animation-name: fade-in-img;
  width: 19vw;
  height: 50vh;

  border-radius: 15px;
  margin: 1vw;
  background-color: rgba(33, 32, 36, 0.85);
}
.actualities-card h1 {
  margin-top: 1vh;
  z-index: 996;
  margin-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
.actualities-card span {
  display: inline-block;

  padding-left: 1vw;
  padding-right: 1vw;
}
.actualities-image-container {
  height: 20vh;
}
.actualities-card img {
  animation-name: fade-in-img;
  animation-duration: 0.5s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
}
.actualities-button-container {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
}
.actualities-button-container button {
  background-color: rgba(48, 49, 52, 0.95);
  color: white;
  width: 51px;
  height: 30px;
  margin: 5px;
  border-radius: 15px;
  border: 1px solid rgba(117, 125, 130, 0);
}
.actualities-button-container button:hover {
  background-color: white;
  color: black;
}
.article-closed-container {
  display: none;
}
@keyframes fade-in-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.article-open-container {
  font-size: 2vh;
  /* border: 1px solid transparent; */
  border-radius: 15px;
  max-height: 80vh;

  position: fixed;
  top: 10vh;
  left: 15vw;
  z-index: 998;
  overflow-y: scroll;
  animation-name: fade-in-img;
  animation-duration: 1s;
  background-color: rgba(33, 32, 36, 1);
  color: white;

  width: 70vw;
}
.article-content-container {
  padding: 20px;
}
.article-content-container h1 {
  margin: 0 0 20px 0;
}
.article-open-container img {
  height: 300px;
  width: 100%;
}
.article-open-container button {
  color: white;
  background-color: transparent;
  border: transparent;
  position: fixed;
  top: 10.5vh;
  right: 15vw;
}
#x-icon {
  height: 25px;
  color: red;
  border: 1px, solid white;
  box-sizing: border-box;
}
